{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 60rem;">
                    <div class="card-header"><h1>Note details:</h1></div>
                    <div class="card-body">
                        <div class="info-section">

                            <img class="card-img" style="max-width: 7rem;" src="{{ note.image }}" alt='note image'/>

                            <h2>Name of the note: {{ note.name }}</h2>
                            <h2>Category of the note: {{ note.category }}</h2>

                            <h2>Perfumes with this note:</h2>
                        {% if note_perfumes %}
                            <ul>
                                {% for single_perfume in note_perfumes %}
                                    <li>
                                        {#                    TODO:ManyToMany relation - call the _set.id#}
                                        <a href="{% url 'details perfume' pk=single_perfume.id %}">{{ single_perfume.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <h4>There are no such perfumes in the database.</h4>
                        {% endif %}
                        </div>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}