{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 48rem;">
                    <div class="card-header">
                        <h2>Perfume Notes - total count: {{ notes_count }}</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <ul>
                                {% for note in notes %}
                                    <li>
                                        <h4><a href="{% url 'details note' pk=note.pk %}">{{ note.name }}</a></h4>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}