<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
{#          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">#}
</head>

<body>
<!-- JavaScript Bundle with Popper -->
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>#}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12">
        <form  method="get" action="{% url 'index' %}">
            {{ search_form }}
            <button>
                <img src="{% static 'images/search.png' %}" height="18" alt="img2">
            </button>
            {% csrf_token %}
        </form>
            </div>
        {#Search form#}
    </div>
</div>
{#End of the Search form#}

{#Navigation bar#}


<p>Logged in user:  {{ request.user }} </p>
{#if not authenticated it will be "Anonimous"#}

<a href="{% url 'index' %}">FRAGMANTICA</a>
<a href="{% url 'list designers' %}">Designers</a>
<a href="{% url 'list perfumes' %}">Perfumes</a>
<a href="{% url 'list notes' %}">Notes</a>
{#    <a href="{% url 'list awa' %}">Awards</a>#}
{% if request.user.is_authenticated %}
    {#    <li> class ="nav-item"</li>#}
    <i>Profile details</i>
    <a href="{% url 'details user' pk=request.user.pk %}">Profile details</a>
    <a href="{% url 'logout user' %}">Log out</a>
{% else %}
    {#    <li> class ="nav-item"</li>#}
    <a href="{% url 'login user' %}">Login</a>
    <a href="{% url 'register user' %}">Register</a>
{% endif %}


<a href="{% url 'about' %}">About</a>


{#End of the Navigation bar#}


{#    Search results if any#}
{% if search_pattern %}
    {#Result of the search - perfumes#}
    {% for perfume in perfumes %}
        <li>
            <a href="{% url 'details perfume' pk=perfume.pk %}">{{ perfume.name }}</a>
        </li>
        {#                {% include 'partials/perfume-item.html' with perfume=perfume %}#}
    {% endfor %}

    {#Result of the search - designers#}
    {% for designer in designers %}
        <li>
            <a href="{% url 'details designer' pk=designer.pk %}">{{ designer.name }}</a>
        </li>
    {% endfor %}
{% endif %}
{#  End search results if any#}

{% block content %}
{% endblock content %}


</body>
</html>
