{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 60rem;">
                    <div class="card-header"><h3>Award details:</h3></div>
                    <div class="card-body">
                        <div class="info-section">
                            <h4>Name of the award: <h5>{{ award.name }}</h5></h4>
                            <h4>Perfume with this award:</h4>
                            {% if awards_perfume %}
                                <a href="{% url 'details perfume' pk=awards_perfume.id %}">{{ awards_perfume.name }}</a>
                            {% else %}
                                <h4>This award is not assigned yet.</h4>
                            {% endif %}
                        </div>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}