{% load static %}
{% include 'base/nav.html' %}
{% block content %}

    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 48rem;">
                    <div class="card-header">
                        <h3>Perfume awards:</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <ul>
                                {% for award in awards %}
                                    <li>
                                        <h5><a href="{% url 'details award' pk=award.pk %}">{{ award.name }}</a><h5>
{#                                        {{ award.name }}#}
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}