{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 60rem;">
                    <div class="card-header"> <h3>Login page:</h3></div>
                    <div class="card-body">
                        <h4>
                            <form action="{% url 'login user' %}" method="post">
                                {{ form }}
                                <button class="btn btn-secondary">Login</button>
{#                                <button type="submit">Log in</button>#}
                                <input type="hidden" name="next" value="{{ next }}">
                                {% csrf_token %}
                            </form>
                        </h4>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}