{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
    <div class="card">
        <div class="card-body card-img-overlay" style="color: coral;">
            <div class="card text-bg-light mb-3" style="max-width: 40rem;">
                <div class="card-header"><h2>Are you sure you want to delete your profile?</h2></div>
                <div class="card-body">
                    <div>
                        <form action="{% url 'delete user' pk=request.user.pk %}" method="post">
                            <button class="btn btn-danger"><h4>Yes</h4></button>
                            {% csrf_token %}
                        </form>
                    </div>
                    <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}