{% load static %}
{% include 'base/nav.html' %}

{% block content %}

    <h1>Username: {{ object.username }}</h1>

    <h1>Email: {{ object.email }}</h1>

    <h1>First name: {{ object.first_name }}</h1>

    <h1>Last name: {{ object.last_name }}</h1>

    {% if object.age %}
        <h1>Age: {{ object.age }}</h1>
    {% endif %}

    {% if object.gender %}
        <h1>Gender: {{ object.gender }}</h1>
    {% endif %}

    {% if is_owner %}
        <a href="{% url 'edit user' pk=request.user.pk %}"> Edit profile</a>
        <a href="{% url 'delete user' pk=request.user.pk %}"> Delete profile</a>
    {% endif %}


{#    {% if user_perfumes %}#}
                {#List of comments per user#}
        <a href="{% url 'perfumes per user all' user_id=user_pk %}">List of your perfumes: </a>
        {#End of List of comments per user##}

{##}
{#        <h2>User perfumes: </h2>#}
{#        {% for perfume_possession in user_perfumes %}#}
            {#            {{ possession.perfume.name }}#}
{#            <a href="{% url 'details perfume' pk=perfume_possession.perfume.pk %}">{{ perfume_possession.perfume.name }}#}
{#                ({{ perfume_possession.possession }}) </a>#}
{#        {% endfor %}#}
{#    {% endif %}#}






{#    {% if user_comments %}#}
        <h2>User comments: </h2>

        {#List of comments per user#}
        <a href="{% url 'perfume comments per user all' user_id=user_pk %}">List of your comments: </a>
        {#End of List of comments per user##}


        {#            The bellow list has been replaced with a link to deicated page for the comments#}
{#        {% for user_comment in user_comments %}#}
{#            {{ user_comment.text }}#}
{#            {{ user_comment.publication_date_and_time }}#}
{#            <a href="{% url 'perfume comment view' comment_id=user_comment.pk %}">Details:{{ user_comment.perfume.name }} </a>#}
{#        {% endfor %}#}
        {#            The list above has been replaced with a link to deicated page for the comments#}
{#    {% endif %}#}

    <a class="edit-btn" href="javascript:history.back()">Go Back</a>
{% endblock %}