<h1>KM Perfume Details page</h1>

<section id="perfume-details">
    <h1>Perfume Details</h1>
    <div class="info-section">
        <div class="perfume-header">
            <!-- car image -->
            <img class="perfume-img"
                 src="{{ perfume.image }}"
                 alt='perfume image'/>
            <!-- type and model -->
            <h1>{{ perfume.name }}</h1>
            <h1>{{ perfume.year }}</h1>
            <h2>Designer:</h2>
            <a href="{% url 'details designer' pk=perfume.designer_id %}">{{ perfume.designer.name }}</a>

            <h2>Main Notes of This Perfume:</h2>
            {#            #TODO - Link to notes#}
            <ul>
                {% for single_note in perfume_notes %}
                    <li>
                        {#                    TODO:ManyToMany relation - call the forward obj.id#}
                        <a href="{% url 'details note' pk=single_note.id %}">{{ single_note.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            {#        Perfume award#}
            {% if perfume.award %}
                <h2>Award:</h2>
                {{ perfume.award.name }}
            {% endif %}
            {#     End   Perfume award#}


        </div>


        {#{% if is_owner %}#}

        {% if request.user.is_authenticated %}

            {#    Posession form#}
            <div class="addComments">
                <div class="reaction">
                    <h3>
                        <i class="far fa-smile"></i>
                    </h3>
                </div>
                <form method="post" action="{% url 'possession perfume' perfume_id=perfume.pk %}">
                    {{ possession_form }}
                    <button type="submit">Choose</button>
                    {% csrf_token %}
                </form>
            </div>
            {#   End of  Posession form#}

            {#    Comment form#}
            <div class="addComments">
                <div class="reaction">
                    <h3>
                        <i class="far fa-smile"></i>
                    </h3>
                </div>
                <form method="post" action="{% url 'comment perfume' perfume_id=perfume.pk %}">
                    {{ comment_form }}
                    <button type="submit">Post</button>
                    {% csrf_token %}
                </form>
            </div>

            {#   End of  Comment form#}

        {% endif %}
        {#    </div>#}


        <a class="edit-btn" href="javascript:history.back()">Go Back</a>

{% if perfume_possession %}
{{ perfume_possession.possession }}
{% endif %}

        {#        Perfume comments#}
        {% if perfume_comments %}
            <h2>Comments:</h2>
            {% for perfume_comment in perfume_comments %}

                {{ perfume_comment.publication_date_and_time }}
                {{ perfume_comment.user }}
                {{ perfume_comment.text }}
            {% endfor %}
        {% endif %}
{#       End Perfume comments#}