{% load static %}
{% include 'base/nav.html' %}

{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light" style="max-width: 160rem;">
                    <div class="card-header"><h3>Perfume Details:</h3></div>
                    <div class="card-body">

                        <div class="container-fluid">
                            <div class="row">

                                <div class="col">
                                    <div class="card">
                                        <img class="perfume-img" style="width: 300px;" src="{{ perfume.image }}"
                                             alt='perfume image'/>
                                        <div class="card-body">
                                            <h4 class="card-title">{{ perfume.name }}</h4>
                                            <p class="card-text">
                                            <h5>{{ perfume.released }}</h5>
                                            <h4>Designer:</h4>
                                            <a href="{% url 'details designer' pk=perfume.designer_id %}">
                                                <h5>{{ perfume.designer.name }}</h5></a>
                                            <h4>Perfume category:</h4>
                                            <h5>{{ perfume.perfume_category }}</h5>

                                            {#                    Begin of the nested card 2 - perfume notes#}
                                            <div class="card text-bg-light mb-3">
                                                <div class="card-body" style="height: 200px; overflow-y: auto">
                                                    <h4 class="card-title">Main Notes of This Perfume:</h4>
                                                    <div>
                                                        <ul>
                                                            {% for single_note in perfume_notes %}
                                                                <li>
                                                                    <p class="card-text">
                                                                        <a href="{% url 'details note' pk=single_note.id %}">
                                                                    <h5>{{ single_note.name }}</h5></a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {#                    End of the nested card 2 - perfume notes#}


                                        </div>
                                    </div>
                                </div>


                                <div class="col">
                                    {#                    Begin of the nested card 3 - perfume award#}
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-body">
                                            <h4 class="card-title">Award:</h4>
                                            <div>
                                                {% if perfume.award %}
                                                    <p class="card-text">
                                                    <h5>{{ perfume.award.name }}</h5>
                                                {% else %}
                                                    <h4>Not yet awards for this perfume</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {#                    End of the nested card 3 - perfume notes#}

                                    {#                    Begin of the nested card 4 - perfume relation#}
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-body">
                                            <h4 class="card-title">Your emotional relation to this perfume:</h4>
                                            <div>
                                                {% if request.user.is_authenticated %}
                                                    <p class="card-text">
                                                    <h5>{{ perfume_possession }}</h5>

                                                    {#                                        Posession form start#}
                                                    <form method="post"
                                                          action="{% url 'possession perfume' perfume_id=perfume.pk %}">
                                                        {{ possession_form }}
                                                        <button type="submit">Choose</button>
                                                        {% csrf_token %}
                                                    </form>
                                                    {#                                        Posession form end#}
                                                {% else %}
                                                    <h5>Please <a href="{% url 'register user' %}">register</a> or <a
                                                            href="{% url 'login user' %}">login</a> to define. </h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {#                    End of the nested card 4 - perfume relation#}

                                </div>


                                <div class="col-6">
                                    {#                    Begin of the nested card 5 - Comment form#}
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-body">
                                            <h4 class="card-title">Add new comment for this perfume:</h4>
                                            <div>
                                                {% if request.user.is_authenticated %}
                                                    {#                                        Comment form start#}
                                                    <form method="post"
                                                          action="{% url 'comment perfume' perfume_id=perfume.pk %}">
                                                        {{ comment_form }}
                                                        <button type="submit">Post</button>
                                                        {% csrf_token %}
                                                    </form>
                                                    {#                                        Posession form end#}
                                                {% else %}
                                                    <h5>Please <a href="{% url 'register user' %}">register</a> or <a
                                                            href="{% url 'login user' %}">login</a> to comment. </h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {#                    End of the nested card 5 - Comment form#}


                                    {#                    Begin of the nested card 6 - perfume comments#}
                                    <div class="card text-bg-light mb-3">
                                        <div class="card-body"  style="height: 500px; overflow-y: auto">
                                            <h4 class="card-title">Perfume comments:</h4>
                                            <div>
                                                {% if perfume_comments %}
                                                    <p class="card-text">
                                                        {% for perfume_comment in perfume_comments %}
                                                            <div class="card">
                                                                <div class="text">
                                                                    <ul>
                                                                        <h5>{{ perfume_comment.user }} {{ perfume_comment.publication_date_and_time }}</h5>
                                                                        {#                                                            <h4>{{ perfume_comment.user }}</h4>#}
                                                                        <h5>{{ perfume_comment.text }}</h5>
                                                                        {#                                                            <h4>{{ perfume_comment.id }}</h4>#}
                                                                        {% if perfume_comment.user == request_user %}
                                                                            <h5>
                                                                                <a href="{% url 'perfume comment edit' comment_id=perfume_comment.id %}">Edit
                                                                                    comment</a>
                                                                                <a href="{% url 'perfume comment delete' comment_id=perfume_comment.id %}">Delete
                                                                                    comment</a></h5>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                {% else %}
                                                    <h4>Not yet comments for this perfume</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {#                    End of the nested card 6 - perfume comments#}
                                </div>


                            </div>
                        </div>

                    </div>
                    {#            End of the nested card 1#}
                    <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                </div>

            </div>
        </div>
    </div>


{% endblock %}