<h1>KM Perfume Details page</h1>


<section id="car-details">
    <h1>Perfume Details</h1>
    <div class="info-section">
        <div class="car-header">
            <!-- car image -->
            <img class="car-img"
                 src="{{ perfume.image }}"
                 alt='perfume image'/>
            <!-- type and model -->
            <h1>{{ perfume.name }}</h1>
            <h1>{{ perfume.year }}</h1>
            <a href="{% url 'details designer' pk=perfume.designer_id %}">{{ perfume.designer.name }}</a>

            <h2>Main Notes of This Perfume</h2>
            {#            #TODO - Link to notes#}
            <ul>
                {% for single_note in perfume_notes %}
                    <li>
                    {#                    TODO:ManyToMany relation - call the forward obj.id#}
                        <a href="{% url 'details note' pk=single_note.id %}">{{ single_note.name }}</a>
                    </li>
                {% endfor %}
            </ul>

{% if perfume.award %}
    <h2>Award:</h2>
    {{ perfume.award.name }}

{% endif %}
        </div>
        <a class="edit-btn" href="javascript:history.back()">Go Back</a>