{% load static %}
{% include 'base/nav.html' %}

{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 48rem;">
                    <div class="card-header">
                        <h3>User Perfumes:</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            <ul>

                                {% if user_perfume_objects %}
                                    {% for user_perfume in user_perfume_objects %}
                                        <li>
                                        <h5>
                                            <a href="{% url 'details perfume' pk=user_perfume.pk %}">{{ user_perfume.name }}</a>
                                        </h5>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <h2>No user perfumes yet! </h2>
                                {% endif %}

                            </ul>
                        </div>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}