{% load static %}
{% include 'base/nav.html' %}
{% block content %}

    <div class="contaier">
        <div class="card">
            <img class="card-img" src="{% static '/images/Fragmantica_main.jpg' %}" alt="Background image">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 128rem;">
                    <div class="card-header">Fragmantica - about the site:</div>
                    <div class="card-body">
                          <p class="card-text">Educational 'Django' project for 'Python web' exam defense.
                          Replica of the most popular perfume database site Fragrantica </p>
                    </div>
                </div>
                <a class="edit-btn" href="javascript:history.back()">Go Back</a>
            </div>
        </div>
    </div>




{% endblock %}
