{#<body style="background: #fff url('https://fimgs.net/himg/o.97774.jpg') top no-repeat; background-size: 100% auto;  background-attachment: fixed; background-position: top;">#}
{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="card text-bg-light mb-3" style="max-width: 128rem;">
        <div class="card-header">
            <h2>Fragmantica - about the site:</h2>
        </div>
        <div class="card-body">
            <h4><i>Training 'Django' project for 'Python web' exam defense.
                <br>Replica of the most popular perfume database site
                <a href="https://www.fragrantica.com">Fragrantica</a></i></h4>

            <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
        </div>
    </div>
{% endblock %}
