{% load static %}
{% include 'base/nav.html' %}

{% block content %}
    <h1>This is the index page</h1>

{#    Search results if any#}
{#{% if search_pattern %}#}
{##}
{##}
            {#Result of the search - perfumes#}
{#            {% for perfume in perfumes %}#}
{#                <li>#}
{#                    <a href="{% url 'details perfume' pk=perfume.pk %}">{{ perfume.name }}</a>#}
{#                </li>#}
{#                {% include 'partials/perfume-item.html' with perfume=perfume %}#}
{#            {% endfor %}#}
{##}
            {#Result of the search - designers#}
{#            {% for designer in designers %}#}
{#                <li>#}
{#                    <a href="{% url 'details designer' pk=designer.pk %}">{{ designer.name }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#{% endif %}#}
{#  End search results if any#}

{% endblock content %}

