{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
        <div class="card" align="center">
            <div class="card-body card-img-overlay" style="color: transparent;">
                <div class="card text-bg-light mb-3" style="max-width: 60rem;">
                    <div class="card-body">
                        <h1 align="center">Welcome in the world of the fragrances!</h1>
                        <h1 align="center">Welcome to <i>Fragmantica</i>!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
