{% load static %}
{% include 'base/nav.html' %}

{% block content %}
    <h1>This is the index page</h1>


    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get" action="{% url 'index' %}">
                {{ search_form }}
                <button>
                    <img src="{% static 'images/search.png' %}" height="18" alt="img2">
                </button>
                {% csrf_token %}
            </form>
            <!-- End Searchbar Form -->

            {% for perfume in perfumes %}
                {% include 'partials/perfume-item.html' with perfume=perfume %}
            {% endfor %}
        </div>
    </div>


{##TODO remove#}
{#        <div class="addComments">#}
{#            <div class="reaction">#}
{#                <h3>#}
{#                    <i class="far fa-smile"></i>#}
{#                </h3>#}
{#            </div>#}
{#                <form method="post" action="{% url 'comment perfume' perfume_id=1 %}">#}
{#                    {{ comment_form }}#}
{#                    <button type="submit">Post</button>#}
{#                    {% csrf_token %}#}
{#                </form>#}
{#        </div>#}


{% endblock content %}

{##}
{#{% for perfume in perfumes %}#}
{#    {{ perfume.name }}#}
{#{% endfor %}#}
