<div class="contaier">
    <div class="card">
        <img class="card-img" src="{% static '/images/Fragmantica_main.jpg' %}" alt="Background image">
        <div class="card-body card-img-overlay" style="color: coral;">
            <div class="card text-bg-light mb-3" style="max-width: 60rem;">
                <div class="card-header"><h1>Note details:</h1></div>
                <div class="card-body">
                    <h1>Perfume designers in the database</h1>
                    <div class="info-section">

                        <img class="card" src="{{ note.image }}" alt='note image'/>

                        <h1>{{ note.name }}</h1>
                        <h1>{{ note.category }}</h1>
                        <h3>Perfumes with this note</h3>
                        <ul>
                            {% for single_perfume in note_perfumes %}
                                <li>
                                    {#                    TODO:ManyToMany relation - call the _set.id#}
                                    <a href="{% url 'details perfume' pk=single_perfume.id %}">{{ single_perfume.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

{#    Old content#}

{#    End of the  Old content#}