{% load static %}
{% include 'base/nav.html' %}
{% block content %}
    <div class="contaier">
        <div class="card">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 48rem;">
                    <div class="card-header">
                        <h2>Perfume Notes - total count: {{ notes_count }}</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <ul>
                                {% if user_comments %}
                                    <h2>User comments: </h2>
                                    {% for user_comment in user_comments %}
                                        {#            {{ user_comment.pk }}#}
                                        {{ user_comment.text }}
                                        {{ user_comment.publication_date_and_time }}
                                        <a href="{% url 'perfume comment view' comment_id=user_comment.pk %}">Details:{{ user_comment.perfume.name }} </a>
                                    {% endfor %}
                                {% else %}
                                    <h2>No user comments yet! </h2>

                                {% endif %}
                            </ul>
                        </div>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}