<div class="card" style="width: 18rem;">
  <img class="card-img" src="{% static '/images/Fragmantica_main.jpg' %}" alt="Background image">
  <div class="card-body">
    <h5 class="card-title">Perfume Details</h5>
{#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}


      {#        Begin of the nested card 1#}
      <div class="card" style="width: 36rem;">
          <img class="perfume-img" src="{{ perfume.image }}" alt='perfume image'/>
          <div class="card-body">
            <h5 class="card-title">{{ perfume.name }}</h5>
            <p class="card-text">
                <h3>{{ perfume.year }}</h3>
                <h3>Designer:</h3>
              <a href="{% url 'details designer' pk=perfume.designer_id %}">{{ perfume.designer.name }}</a>
              </p>

          </div>
        </div>
{#End of the nested card 1#}

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>