{% load static %}

<div class="contaier">
    <div class="card">
        <img class="card-img" src="{% static '/images/Fragmantica_main.jpg' %}" alt="Background image">
        <div class="card-body card-img-overlay" style="color: coral;">
            <div class="card text-bg-light mb-3" style="max-width: 48rem;">
                <div class="card-header">
                    <h2>Perfume Notes:</h2>
                </div>
                <div class="card-body">
                    <div>
                        <ul>
                            {% for perfume in perfumes %}
                                <li>
                                    <a href="{% url 'details perfume' pk=perfume.pk %}">{{ perfume.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>

                </div>
            </div>
        </div>
    </div>
</div>
