{% load static %}
{% include 'base/nav.html' %}
{% block content %}

    <div class="contaier">
        <div class="card">
            <img class="card-img" src="{% static '/images/Fragmantica_main.jpg' %}" alt="Background image">
            <div class="card-body card-img-overlay" style="color: coral;">
                <div class="card text-bg-light mb-3" style="max-width: 48rem;">
                    <div class="card-header">
                        <h2>Edit Comment:</h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <form action="{% url 'perfume comment edit' comment_id=comment_id %}" method="post">
                                {{ form.as_p }}
                                <button class="edit-btn" type="submit">Edit</button>
                                {% csrf_token %}
                            </form>
                        </div>
                        <h1><a class="btn btn-primary" href="javascript:history.back()">Go Back</a></h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{#BACKUP PERFUME COMMENTS PER USER ALL#}
{% load static %}
{% include 'base/nav.html' %}

{% block content %}
    <div class="contaier">
    <div class="card" style="width: 18rem;">
        <img class="card-img" src="{% static '/images/Fragmantica_main.jpg' %}" alt="Background image">
        <div class="card-body">
            <h5 class="card-title">Your comments:</h5>
            {#    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}

            {#        Begin of the nested card 1#}
            <div class="card" style="width: 36rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ perfume.name }}</h5>
                    <p class="card-text">
                        {% if user_comments %}
                            <h2>User comments: </h2>
                            {% for user_comment in user_comments %}
                                {#            {{ user_comment.pk }}#}
                                {{ user_comment.text }}
                                {{ user_comment.publication_date_and_time }}
                                <a href="{% url 'perfume comment view' comment_id=user_comment.pk %}">Details:{{ user_comment.perfume.name }} </a>
                            {% endfor %}
                        {% else %}
                            <h2>No user comments yet! </h2>

                        {% endif %}
                    </p>

                </div>
            </div>
            {#End of the nested card 1#}

            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

{% endblock %}