            {% if perfume_comments %}
                {% for perfume_comment in perfume_comments %}
                    <ul>
                        {{ perfume_comment.publication_date_and_time }}
                        {{ perfume_comment.user }}
                        {{ perfume_comment.text }}
                        {{ perfume_comment.id }}
                        {% if perfume_comment.user == request_user %}
                            <a href="{% url 'perfume comment edit' comment_id=perfume_comment.id %}">Edit comment</a>
                            <a href="{% url 'perfume comment delete' comment_id=perfume_comment.id %}">Delete
                                comment</a>
                        {% endif %}
                    </ul>
                {% endfor %}
            {% endif %}

               End Perfume comments